<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Modify Employee Details</title>
<th:block th:include="layout/header"></th:block>
</head>
<body>
		<H1>Subordinate Leave Review</H1>
		<p>Default view</p>
		
		<table>
			<th>
				<td>Staff ID</td>
				<td>Name</td>
				<td>Leave Balance</td>
			</th>
			<tr>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
		<table>
			<th>
				<td>Leave Id</td>
				<td>Start Date</td>
				<td>End Date</td>
				<td>Category</td>
				<td>Reason</td>
				<td>Contact Details</td>
				<td>Status</td>
				<td>Comment</td>
			</th>
			<tr>
			
			</tr>
		</table>
		
</body>
</html>